# Diamond Price Analysis

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from random import randint
from sklearn.preprocessing import LabelEncoder 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [2]:
file_path = '/Users/ajayiyer/Desktop/DAT 402/Project 2/diamonds.csv'

df = pd.read_csv(file_path)
df

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
...,...,...,...,...,...,...,...,...,...,...,...
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

In [3]:
df.drop(df.columns[[0]], axis=1, inplace=True)
df

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [4]:
df.isna().sum()

carat      0
cut        0
color      0
clarity    0
depth      0
table      0
price      0
x          0
y          0
z          0
dtype: int64

In [5]:
df.rename(columns={'depth': 'depth_prcnt', 'table': 'table_prcnt', 'x': 'length', 'y': 'width', 'z': 'depth'}, inplace=True)
df

,carat,cut,color,clarity,depth_prcnt,table_prcnt,price,length,width,depth
0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
...,...,...,...,...,...,...,...,...,...,...
53935,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53936,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61
53937,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53938,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53939,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

In [6]:
le = LabelEncoder()

le.fit(df.cut.drop_duplicates())
df.cut = le.transform(df.cut)

le.fit(df.color.drop_duplicates())
df.color = le.transform(df.color)

le.fit(df.clarity.drop_duplicates())
df.clarity = le.transform(df.clarity)

df

,carat,cut,color,clarity,depth_prcnt,table_prcnt,price,length,width,depth
0,0.23,2,1,3,61.5,55.0,326,3.95,3.98,2.43
1,0.21,3,1,2,59.8,61.0,326,3.89,3.84,2.31
2,0.23,1,1,4,56.9,65.0,327,4.05,4.07,2.31
3,0.29,3,5,5,62.4,58.0,334,4.20,4.23,2.63
4,0.31,1,6,3,63.3,58.0,335,4.34,4.35,2.75
...,...,...,...,...,...,...,...,...,...,...
53935,0.72,2,0,2,60.8,57.0,2757,5.75,5.76,3.50
53936,0.72,1,0,2,63.1,55.0,2757,5.69,5.75,3.61
53937,0.70,4,0,2,62.8,60.0,2757,5.66,5.68,3.56
53938,0.86,3,4,3,61.0,58.0,2757,6.15,6.12,3.74
53939,0.75,2,0,3,62.2,55.0,2757,5.83,5.87,3.64

In [7]:
column_to_move = df.pop("price")

df.insert(9, "price", column_to_move)
df

,carat,cut,color,clarity,depth_prcnt,table_prcnt,length,width,depth,price
0,0.23,2,1,3,61.5,55.0,3.95,3.98,2.43,326
1,0.21,3,1,2,59.8,61.0,3.89,3.84,2.31,326
2,0.23,1,1,4,56.9,65.0,4.05,4.07,2.31,327
3,0.29,3,5,5,62.4,58.0,4.20,4.23,2.63,334
4,0.31,1,6,3,63.3,58.0,4.34,4.35,2.75,335
...,...,...,...,...,...,...,...,...,...,...
53935,0.72,2,0,2,60.8,57.0,5.75,5.76,3.50,2757
53936,0.72,1,0,2,63.1,55.0,5.69,5.75,3.61,2757
53937,0.70,4,0,2,62.8,60.0,5.66,5.68,3.56,2757
53938,0.86,3,4,3,61.0,58.0,6.15,6.12,3.74,2757
53939,0.75,2,0,3,62.2,55.0,5.83,5.87,3.64,2757

In [8]:
df.dtypes

carat          float64
cut              int64
color            int64
clarity          int64
depth_prcnt    float64
table_prcnt    float64
length         float64
width          float64
depth          float64
price            int64
dtype: object

In [9]:
df

,carat,cut,color,clarity,depth_prcnt,table_prcnt,length,width,depth,price
0,0.23,2,1,3,61.5,55.0,3.95,3.98,2.43,326
1,0.21,3,1,2,59.8,61.0,3.89,3.84,2.31,326
2,0.23,1,1,4,56.9,65.0,4.05,4.07,2.31,327
3,0.29,3,5,5,62.4,58.0,4.20,4.23,2.63,334
4,0.31,1,6,3,63.3,58.0,4.34,4.35,2.75,335
...,...,...,...,...,...,...,...,...,...,...
53935,0.72,2,0,2,60.8,57.0,5.75,5.76,3.50,2757
53936,0.72,1,0,2,63.1,55.0,5.69,5.75,3.61,2757
53937,0.70,4,0,2,62.8,60.0,5.66,5.68,3.56,2757
53938,0.86,3,4,3,61.0,58.0,6.15,6.12,3.74,2757
53939,0.75,2,0,3,62.2,55.0,5.83,5.87,3.64,2757

In [10]:
df.to_csv(r'/Users/ajayiyer/Desktop/DAT 402/Project 2/diamonds2_updated.csv', index=False, header=True)

# Go to R Code Then Come Back

In [11]:
for col in df:
    print(col)

carat
cut
color
clarity
depth_prcnt
table_prcnt
length
width
depth
price

In [12]:
df.drop(df.columns[[-2, -3]], axis = 1, inplace = True)
df

       carat  cut  color  clarity  depth_prcnt  table_prcnt  length  price
0       0.23    2      1        3         61.5         55.0    3.95    326
1       0.21    3      1        2         59.8         61.0    3.89    326
2       0.23    1      1        4         56.9         65.0    4.05    327
3       0.29    3      5        5         62.4         58.0    4.20    334
4       0.31    1      6        3         63.3         58.0    4.34    335
...      ...  ...    ...      ...          ...          ...     ...    ...
53935   0.72    2      0        2         60.8         57.0    5.75   2757
53936   0.72    1      0        2         63.1         55.0    5.69   2757
53937   0.70    4      0        2         62.8         60.0    5.66   2757
53938   0.86    3      4        3         61.0         58.0    6.15   2757
53939   0.75    2      0        3         62.2         55.0    5.83   2757

[53940 rows x 8 columns]

In [13]:
x = df.drop(['price'], axis=1)
y = df[['price']]

In [14]:
x

       carat  cut  color  clarity  depth_prcnt  table_prcnt  length
0       0.23    2      1        3         61.5         55.0    3.95
1       0.21    3      1        2         59.8         61.0    3.89
2       0.23    1      1        4         56.9         65.0    4.05
3       0.29    3      5        5         62.4         58.0    4.20
4       0.31    1      6        3         63.3         58.0    4.34
...      ...  ...    ...      ...          ...          ...     ...
53935   0.72    2      0        2         60.8         57.0    5.75
53936   0.72    1      0        2         63.1         55.0    5.69
53937   0.70    4      0        2         62.8         60.0    5.66
53938   0.86    3      4        3         61.0         58.0    6.15
53939   0.75    2      0        3         62.2         55.0    5.83

[53940 rows x 7 columns]

In [15]:
y

       price
0        326
1        326
2        327
3        334
4        335
...      ...
53935   2757
53936   2757
53937   2757
53938   2757
53939   2757

[53940 rows x 1 columns]

In [16]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2, random_state=0)
lm = LinearRegression()
lm.fit(x_train, y_train)
acc_score = lm.score(x_test, y_test)
print(acc_score)

0.8870557606147695

In [17]:
print("Coefficients: ", lm.coef_)
print("Intercept: ", lm.intercept_)

Coefficients:  [[10913.46489188    68.94346275  -266.22854596   288.6609397
   -157.4754151    -96.6429575  -1114.54487261]]
Intercept:  [16293.70917821]

In [18]:
pred = lm.predict(x_test)
print(pred, y_test)

[[5791.49611324]
 [6995.17459102]
 [5947.76846499]
 ...
 [6112.26884149]
 [6125.55470783]
 [2224.79666834]]        price
10176   4733
16083   6424
13420   5510
20407   8770
8909    4493
...      ...
42208   1289
3638    3435
5508    3847
19535   8168
47950   1917

[10788 rows x 1 columns]

In [19]:
df.to_csv(r'/Users/ajayiyer/Desktop/DAT 402/Project 2/diamonds3_updated.csv', index=False, header=True)

# Back to R